*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  display: flex;
flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  text-align: center;
  padding: 5px;
}


.lists{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.listItem{
  width: 100%;
  height: 45px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.message{
  font-size: 16px;
  color: whitesmoke;
  font-family: sans-serif;

}
.form{
  background: rgba(0, 0, 0, 0.30);

  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 60px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.input{
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.20rem;
}

.input:focus{
  outline: none;
}
.button {
  background: yellow;
  border: none;
  padding: 0 3rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: #000;
  font-size: 18px;
  cursor: pointer;
}
.button:hover {
  background: #ff0;
}
.button:active {
    background: green;
}