*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  display: flex;
flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  text-align: center;
  padding: 5px;
}


.lists{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.listItem{
  width: 100%;
  height: 45px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
.message{
  font-size: 16px;
  color: whitesmoke;
  font-family: sans-serif;

}
.form{
  background: rgba(0, 0, 0, 0.30);

  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 60px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}
.input{
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.20rem;
}

.input:focus{
  outline: none;
}
.button {
  background: yellow;
  border: none;
  padding: 0 3rem;
  margin: 0.25rem;
  border-radius: 10px;
  outline: none;
  color: #000;
  font-size: 18px;
  cursor: pointer;
}
.button:hover {
  background: #ff0;
}
.button:active {
    background: green;
}

.roomControls{
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}
.inputsContainer{
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.inputsContainer .input{
  max-width: 700px;
  width: 100%;
  height: 30px;
  padding: 0 10px;
}
.JoinRoom{
  padding: 5px 20px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: #0cde0c;
  color: whitesmoke;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.currentRoomContainer{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
.span{
    width: 150px;
     height: 30px;
    font-size: 16px;

 
   display: flex;
  align-items: center;

}

.Leavbutton{
    padding: 5px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    background-color: #de0c0c;
    color: whitesmoke;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}